
/* Event styles */
.fc-event {
  border-radius: 4px;
  padding: 4px 8px;
  margin: 1px;
  border: none;
  cursor: pointer !important;
}

/* Month view event styles */
.fc-dayGridMonth-view .fc-daygrid-event {
  position: relative !important;
}

.fc-dayGridMonth-view .fc-daygrid-event .fc-event-title:before {
  content: attr(data-staff-name) " - ";
  font-weight: 500;
}

.fc-dayGridMonth-view .fc-event-title {
  font-size: 0.75rem !important;
}

